<mat-grid-list
  cols="4"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      color="warn"
      (click)="btnClick('power')"
    >
      <i class="fa-lg fas fa-power-off"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="3"
  >
    <mat-form-field>
      <mat-label>TV</mat-label>
      <mat-select [(value)]="selectedId">
        <mat-option *ngFor="let tv of tvs" 
          [value]="tv.id"
        >
          {{ tv.name }} - {{ tv.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list 
  cols="3"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('back')"
    >
      <i class="fa-lg fas fa-backspace"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('info')"
    >
      <i class="fa-lg fas fa-asterisk"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('home')"
    >
      <i class="fa-lg fas fa-home"></i>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list 
  cols="3"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile
    colspan="3"
  >
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('up')"
    >
      <i class="fa-2x fas fa-arrow-up"></i>
    </button>
  </mat-grid-tile
  >
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('left')"
    >
      <i class="fa-2x fas fa-arrow-left"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('select')"
    >
      OK
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('right')"
    >
      <i class="fa-2x fas fa-arrow-right"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="3"
  >
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="btnClick('down')"
    >
      <i class="fa-2x fas fa-arrow-down"></i>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list 
  cols="3"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      (click)="btnClick('rev')"
    >
      <i class="fa-lg fas fa-backward"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      (click)="btnClick('play')"
    >
    <i class="fa-lg fas fa-play"></i>&nbsp;<i class="fa-lg fas fa-pause"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      (click)="btnClick('fwd')"
    >
      <i class="fa-lg fas fa-forward"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      (click)="btnClick('volumeDown')"
    >
      <i class="fa-lg fas fa-volume-down"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      (click)="btnClick('volumeUp')"
    >
      <i class="fa-lg fas fa-volume-up"></i>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-raised-button
      type="button"
      (click)="btnClick('volumeMute')"
    >
      <i class="fa-lg fas fa-volume-mute"></i>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-form-field class="example-full-width">
  <input 
    matInput
    placeholder="Keyboard">
</mat-form-field>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        All Actions
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-grid-list 
      cols="3"
      [rowHeight]="rowHeight"
    >
    <mat-grid-tile *ngFor="let key of keys">
      <button
        mat-raised-button
        type="button"
        color="basic"
        (click)="btnClick(key)"
      >
        {{ key }}
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  </mat-expansion-panel>

