<mat-grid-list
  cols="3"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>TV</mat-label>
      <mat-select [(value)]="selectedId">
        <mat-option *ngFor="let tv of tvs" 
          [value]="tv.id"
        >
          {{ tv.name }} ({{ tv.value }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('volumeDown')"
    >
      &#8609;
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('volumeUp')"
    >
    &#8607;
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list 
  cols="3"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('back')"
    >
      Back
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('*')"
    >
      *
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('home')"
    >
      Home
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list 
  cols="3"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile
    colspan="3"
  >
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('up')"
    >
      &#8679;
    </button>
  </mat-grid-tile
  >
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('left')"
    >
      &#8678;
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('select')"
    >
      OK
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('right')"
    >
      &#8680;
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="3"
  >
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('down')"
    >
      &#8681;
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list 
  cols="3"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('rev')"
    >
      &#10558;
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('play')"
    >
      Play/Pause
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="btnClick('fwd')"
    >
      &#10559;
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list 
  cols="8"
  [rowHeight]="rowHeight"
>
  <mat-grid-tile *ngFor="let key of keys">
    <button
      mat-flat-button
      type="button"
      color="basic"
      (click)="btnClick(key)"
    >
      {{ key }}
    </button>
  </mat-grid-tile>
</mat-grid-list>

